.aboutusContent h1{
    font-size: 40px;
    max-width: 70%;
    line-height: 70px;
}
.aboutusContent > p{
    font-size: 16px;
    margin-bottom: 20px;
    width: 90%;
}
.aboutusList{
    margin-bottom: 50px;
    padding-left: 0px;
}

@media only screen and (max-width: 992px) {
  .aboutusContent > h1 {
    font-size: 30px;
    line-height: 40px;
  }
}