.heroSectionWrapper {
  overflow-x: hidden;
}
.heroSectionImg img {
  width: 100%;
  transform: translateX(-3%) scale(1.1);
  transform-origin: left center;
}
.heroSectionWrapper h1 {
  font-size: 4.2rem;
}
.heroSectionWrapper p {
  font-size: 1.6rem;
}

@media only screen and (max-width: 992px) {
  .heroSectionWrapper h1 {
    font-size: 3rem;
  }
  .heroSectionWrapper p {
    font-size: 1.4rem;
  }
}
