.heroSectionWrapper {
  overflow-x: hidden;
}
.heroSectionImg img {
  width: 100%;
  transform: translateX(-3%) scale(1.1);
  transform-origin: left center;
}
.heroSectionWrapper h1 {
  font-size: 42px;
}
.heroSectionWrapper p {
  font-size: 16px;
}

@media only screen and (max-width: 992px) {
  .heroSectionWrapper h1 {
    font-size: 30px;
  }
  .heroSectionWrapper p {
    font-size: 14px;
  }
  
}
